<%= render :partial => 'crud_menu' %>

<h2><%= l(:label_customer_plural) %></h2>

<% unless @customers.empty? %>
  <table class="list">
    <% @customers.each do |customer| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= customer.pretty_name %></td>
        <td align="right">
          <small>
            <% if User.current.allowed_to_globally?(:edit_customer) %>
              <%= link_to l(:button_edit), {:controller => 'customers', :action => 'edit', :id => customer.id}, :class => 'icon icon-edit' %>
            <% end %>
            <% if User.current.allowed_to_globally?(:edit_customer) %>
              <%= link_to l(:button_delete), {:controller => 'customers', :action => 'destroy', :id => customer.id}, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del' %>
            <% end %>
          </small>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p class="nodata"><%=l(:label_no_data)%></p>
<% end %>

<% content_for(:header_tags) do %>
  <style type="text/css">
    .icon-users { background-image: url(../../images/users.png); }
  </style>
<% end %>

