<%= render :partial => 'crud_menu' %>

<h2><%= l(:label_customer_new) %></h2>

<%= labelled_form_for @customer do |f|  %>
  <%= render :partial => 'form', :locals => {:f => f}  %>
  <%= submit_tag l(:button_save) -%>
<% end -%>
