<div class="contextual">
  <%= link_to_if_authorized l(:label_customer_assign), {:controller => 'customers', :action => 'select', :id => @project}, :class => 'icon icon-move' %>
</div>

<h2><%= l(:label_customer_assign) %></h2>

<%= form_for :customer, :url =>{:action => 'assign', :id => @project} do |f|  %>
  <div class="box tabular">
    <p>
    <label for="customer"><%= l(:label_customer) %></label>
      <%= collection_select(:customer, :id, @customers, :id, :pretty_name, :include_blank => true) -%>
    </p>
  </div>
  <%= submit_tag l(:button_save) -%>

<% end -%>
